<ion-content [fullscreen]="true">
  <ion-row class="container">
    <ion-icon (click)="backClicked()" class="iconHeader" name="chevronBack" color="black"></ion-icon>
    <p id="title">Artist</p>
    <ion-icon class="iconHeader" name="ellipsis-horizontal"></ion-icon>
  </ion-row>
<div>
  <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd1.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
      </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/theweeknd1.png" alt="Starboy">
        <div class="padding-text">
          <p class="bold playlist-text">Starboy</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/theweeknd2.png" alt="After Hours">
        <div class="padding-text">
          <p class="bold playlist-text">After Hours</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/theweeknd3.png" alt="My Dear Melancholy">
        <div class="padding-text">
          <p class="bold playlist-text">My Dear Melancholy</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/theweeknd4.png" alt="Dawn FM">
        <div class="padding-text">
          <p class="bold playlist-text">Dawn FM</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
    </div>
  </div>
</div>
</ion-content>
