.new-album {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15AB90;
    color: #fff;
    padding: 16px;
    border-radius: 16px; 
    max-width: 90%; 
    height: 150px;
    margin: 0 auto;
  
    .album-info {
      flex: 1;
      margin-right: 16px;
  
      h3 {
        margin: 0;
        font-size: 1rem;
      }
  
      h1 {
        margin: 4px 0;
        font-size: 1.5rem;
      }
  
      p {
        margin: 0;
        font-size: 0.875rem;
      }
    }
  
    .album-image {
      flex-shrink: 0;
      img {
        border-radius: 8px;
        width: 150px; 
        height: 170px; 
      }
    }
  }
  