<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/home/home">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="favorites" href="/home/favorites">
        <ion-icon aria-hidden="true" name="heart"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="playlist" href="/home/playlist">
        <ion-icon aria-hidden="true" name="musical-note"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" href="/home/profile">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 