<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/home/home">
        <form class="btn" color="transparent" href="">
          <img class="reformat-like" src="assets/icon/menu/MenuHome.svg">
        </form>
      </ion-tab-button>
  
      <ion-tab-button tab="favorites" href="/home/favorites">
        <ion-icon aria-hidden="true" name="heart"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="playlist" href="/home/playlist">
        <a class="btn" color="transparent" href="">
          <img class="reformat-like" src="assets/icon/menu/MenuMusic.svg">
        </a>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" href="/home/profile">
        <a class="btn" color="transparent" href="">
          <img class="reformat-like" src="assets/icon/menu/MenuProfile.svg">
        </a>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  