<ion-content [fullscreen]="true">
    <ion-row class="container">
      <ion-icon (click)="backClicked()" class="iconHeader" name="chevronBack"></ion-icon>
      <p id="title">My Music</p>
      <ion-icon class="iconHeader" name="ellipsis-horizontal"></ion-icon>
    </ion-row>

    <ion-row class="button">
      <ion-button (click)="goToPlaylist()" type="submit">My Playlist</ion-button>
      <ion-button (click)="goToArtist()" type="submit">My Artist</ion-button>
    </ion-row>

  <div>
    <div class="padding-container" >
        <div>
          <ion-row  (click)="goToArtist()" >
            <img class="reformat-cover" src="assets/icon/theweeknd1.png" alt="The Weeknd">
            <div class="padding-text">
              <p class="bold playlist-text">Ordinary Life</p>
              <p class="light auteur-text">The Weeknd</p>
            </div>
              <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
          </ion-row>
          <ion-col class="buttons-likeandshare">
            <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
              <img class="reformat-like" src="assets/icon/Player.png">
            </a>
          </ion-col>
        </div>
    </div>
  </div>
  
  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row (click)="goToArtist()" >
          <img class="reformat-cover" src="assets/icon/theweeknd1.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">Die For You</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>
  
  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd3.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">I Was Never There</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>
  
  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd2.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">Heartless</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
        </ion-row>
        <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>
  
  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd4.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">Take My Breath</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>

  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd4.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">Less Than Zero</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>

  <div class="padding-top">
    <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/theweeknd3.png" alt="The Weeknd">
          <div class="padding-text">
            <p class="bold playlist-text">Wasted Time</p>
            <p class="light auteur-text">The Weeknd</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
        </ion-row>
        <ion-col class="buttons-likeandshare">
          <a class="btn-like" color="transparent" href="http://localhost:4200/home/playerSong">
            <img class="reformat-like" src="assets/icon/Player.png">
          </a>
        </ion-col>
      </div>
    </div>
  </div>
  </ion-content>
  