<ion-content [fullscreen]="true">
  <ion-row class="container">
    <ion-icon (click)="backClicked()" class="iconHeader" name="chevronBack"></ion-icon>
    <p id="title">Profile</p>
    <ion-icon class="iconHeader" name="ellipsis-horizontal"></ion-icon>
  </ion-row>
<div>
  <div class="padding-container">
      <div>
        <ion-row>
          <img class="reformat-cover" src="assets/icon/Playlist/ppWorkInstrumental.png" alt="Cover Work Instrument">
          <div class="padding-text">
            <p class="bold playlist-text">Work Instrument</p>
            <p class="light auteur-text">Nama User</p>
            <p class="light nb-song-text">20 songs</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
            <ion-col class="buttons-likeandshare">
              <a class="btn-like" color="transparent" href="">
                <img class="reformat-like" src="assets/icon/likeSomething.svg">
              </a>
              <a class="btn-share" color="transparent" href="">
                <img class="reformat-share" src="assets/icon/shareSomething.svg">
              </a>
            </ion-col>
          <div class="line"></div>
        </ion-row>
      </div>
  </div>
</div>