<ion-content [fullscreen]="true">
  <ion-row class="container">
    <ion-icon (click)="backClicked()" class="iconHeader" name="chevronBack"></ion-icon>
    <p id="title">Music Playlist</p>
    <ion-icon class="iconHeader" name="ellipsis-horizontal"></ion-icon>
  </ion-row>
<div>
  <div class="padding-container">
      <div>
        <ion-row (click)="goToSong()">
          <img class="reformat-cover" src="assets/icon/Playlist/ppWorkInstrumental.png" alt="Cover Work Instrument">
          <div class="padding-text">
            <p class="bold playlist-text">Work Instrument</p>
            <p class="light auteur-text">Nama User</p>
            <p class="light nb-song-text">20 songs</p>
          </div>
            <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
            <ion-col class="buttons-likeandshare">
              <a class="btn-like" color="transparent" href="">
                <img class="reformat-like" src="assets/icon/likeSomething.svg">
              </a>
              <a class="btn-share" color="transparent" href="">
                <img class="reformat-share" src="assets/icon/shareSomething.svg">
              </a>
            </ion-col>
          <div class="line"></div>
        </ion-row>
      </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/Playlist/ppChillVibes.png" alt="Cover Chill Vibes">
        <div class="padding-text">
          <p class="bold playlist-text">Chill Vibes</p>
          <p class="light auteur-text">Randy Stanton</p>
          <p class="light nb-song-text">50 songs</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
          <ion-col class="buttons-likeandshare">
            <a class="btn-like" color="transparent" href="">
              <img class="reformat-like" src="assets/icon/likeSomething.svg">
            </a>
            <a class="btn-share" color="transparent" href="">
              <img class="reformat-share" src="assets/icon/shareSomething.svg">
            </a>
          </ion-col>
        <div class="line"></div>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/Playlist/ppDancePartyHits.png" alt="Cover Dance Party Hits">
        <div class="padding-text">
          <p class="bold playlist-text">Dance Party Hits</p>
          <p class="light auteur-text">Jaydon Curtis</p>
          <p class="light nb-song-text">55 songs</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
          <ion-col class="buttons-likeandshare">
            <a class="btn-like" color="transparent" href="">
              <img class="reformat-like" src="assets/icon/likeSomething.svg">
            </a>
            <a class="btn-share" color="transparent" href="">
              <img class="reformat-share" src="assets/icon/shareSomething.svg">
            </a>
          </ion-col>
        <div class="line"></div>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/Playlist/ppSummerBreezes1.png" alt="Cover Summer Breezes 1">
        <div class="padding-text">
          <p class="bold playlist-text">Summer Breezes</p>
          <p class="light auteur-text">Angel Herwitz</p>
          <p class="light nb-song-text">30 songs</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
          <ion-col class="buttons-likeandshare">
            <a class="btn-like" color="transparent" href="">
              <img class="reformat-like" src="assets/icon/likeSomething.svg">
            </a>
            <a class="btn-share" color="transparent" href="">
              <img class="reformat-share" src="assets/icon/shareSomething.svg">
            </a>
          </ion-col>
        <div class="line"></div>
      </ion-row>
    </div>
  </div>
</div>

<div class="padding-top">
  <div class="padding-container">
    <div>
      <ion-row>
        <img class="reformat-cover" src="assets/icon/Playlist/ppSummerBreezes2.png" alt="Cover Summer Breezes 2">
        <div class="padding-text">
          <p class="bold playlist-text">Summer Breezes</p>
          <p class="light auteur-text">Angel Herwitz</p>
          <p class="light nb-song-text">30 songs</p>
        </div>
          <ion-icon class="ellipsis" name="ellipsis-horizontal"></ion-icon>
          <ion-col class="buttons-likeandshare">
            <a class="btn-like" color="transparent" href="">
              <img class="reformat-like" src="assets/icon/likeSomething.svg">
            </a>
            <a class="btn-share" color="transparent" href="">
              <img class="reformat-share" src="assets/icon/shareSomething.svg">
            </a>
          </ion-col>
        <div class="line"></div>
      </ion-row>
    </div>
  </div>
</div>
</ion-content>
