<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <ion-img src="assets/logo.png" class="logo"></ion-img>
    <ion-icon name="search-outline" class="search-icon"></ion-icon>
  </div>

  <div class="main-content">
    <!-- New Album Section -->
    <div class="new-album">
      <img src="assets/new-album.png" class="album-cover">
      <div class="album-info">
        <h2>New Album</h2>
        <h3>R & B Hits</h3>
        <p>Discover 87 songs!</p>
      </div>
    </div>
    <!-- Music Genres Section -->
    <div class="music-genres">
      <h3>Music Genres</h3>
      <ion-button>All</ion-button>
      <ion-button>R&B</ion-button>
      <ion-button>Pop</ion-button>
      <ion-button>Rock</ion-button>
    </div>
    <!-- Top Songs Section -->
    <div class="top-songs">
      <h3>Top Songs</h3>
      <!-- Song cards will go here -->
    </div>
    <!-- Last Played Section -->
    <div class="last-played">
      <h3>Last Played</h3>
      <!-- Last played songs will go here -->
    </div>
  </div>
</ion-content>

  <app-see-all [elementTitle] = "elementTitles[0]"></app-see-all>
  <app-round-menu [nbrElement]="4" [elementArray]="musiccateg"></app-round-menu>
  <app-see-all [elementTitle] = "elementTitles[1]"></app-see-all>
  <app-vertical-card [songs] = "songs"></app-vertical-card>
  <app-see-all [elementTitle] = "elementTitles[2]"></app-see-all>
  <app-horizontal1-card [lastPlayeds] = "songs"></app-horizontal1-card>
  <app-see-all [elementTitle] = "elementTitles[3]"></app-see-all>
  <app-vertical-card [albums] = "albums"></app-vertical-card>
