.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
 
}

.logo {
  width: 40px;
  height: 40px;
}

.search-icon {
  font-size: 24px;
  color: black; /* Black color for the search icon */
}
