ion-content>
  <div class="home-header">
    <ion-toolbar >
      <ion-buttons class="user_logo" slot="start">
        <ion-button   fill="clear" href="/tabs/profile">
          <ion-img  class="logo" src="assets/icon/logo_mini.png" alt="SpotyMike"></ion-img>
        </ion-button>
      </ion-buttons>
      <ion-title></ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="auto" >
        <div class="card">
          <ion-grid class="no-padding">
            <ion-row>
              <ion-col size="auto" class="album-col" >
                <div>
                  <h3>New Album</h3>
                  <h2>R & B</h2>
                  <h6>Discover 83 songs</h6>
                  <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                </div>

              </ion-col>
              <ion-col size="auto" class="no-padding img-col">
                <div class="img-style">
                  <ion-img class="image_default" src="assets/test.jpg" alt="SpotyMike"></ion-img>
                </div>

              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-see-all [elementTitle] = "elementTitles[0]"></app-see-all>
  <app-round-menu [nbrElement]="4" [elementArray]="musiccateg"></app-round-menu>
  <app-see-all [elementTitle] = "elementTitles[1]"></app-see-all>
  <app-vertical-card [songs] = "songs"></app-vertical-card>
  <app-see-all [elementTitle] = "elementTitles[2]"></app-see-all>
  <app-horizontal1-card [lastPlayeds] = "songs"></app-horizontal1-card>
  <app-see-all [elementTitle] = "elementTitles[3]"></app-see-all>
  <app-vertical-card [albums] = "albums"></app-vertical-card>
</ion-content>