<ion-header>
    <ion-toolbar>
      <ion-title>Password Reset</ion-title>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="dismiss()">X</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Enter your email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="you@example.com"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!passwordResetForm.valid">Reset Password</ion-button>
    </form>
  </ion-content>
  